{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Time Friend</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'js/Chart.min.js' %}">
  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            {% block sidebar %}
              <ul class="sidebar-nav">
                <li><a href="{% url 'times:year_months'%}">YearMonths</a></li>
              </ul>
            {% endblock %}
          </div>
          <div class="col-6">
            <hr class="mt-0 mb-4">
            {% block content %}{% endblock %}
            <canvas id="myChart" width="200" height="400"></canvas>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                var args = new matchUrl(window.location.pathname);
                function matchUrl(url){
                  var break_url = url.split('/')
                  var args = {}
                  for (i = 0; i < break_url.length; i++) {
                    var value = break_url[i].match(/[0-9]+/g)
                    if (value != null) {
                      let name = break_url[i-1]
                      args[name] = value[0]
                    }
                  }
                  return args
                }
                $.get('{% url "times:line_chart_json" %}', args, function(data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    new Chart(ctx, {
                        type: 'line', data: data
                    });
                });
            </script>
          </div>
          <div class="col-4">
            {% block filter %}{% endblock %}
          </div>
        </div>
      </div>
  </body>
</html>