{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load filters_extras %}
{% load mathfilters %}


{% block content %}
    <a href="{% url 'times:generate_days' yearmonth.pk number %}" class="btn btn-sm btn-primary float-right">Generate Days</a>
    {% if day_list %}
        <ul>
        {% for day in day_list %}
            <li><a href="{% url 'times:day_detail' day.pk%}">{{ day.day_name|reverse }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No days are available.</p>
    {% endif %}

    <hr>

    <a href="{% url 'times:estimates_create' yearmonth.pk number %}" class="btn btn-sm btn-info float-right">Generate Plan</a>
    <br>
    <ul>
    {% with  total=subtotals|summary  %}
        <h5>本周: {{total}} 分钟 </h5>
        <br>
        {% for key, value in subtotals.items %}
            {% if value > 0 %}
                {{key}} : 
                {% if estimates|get_item:key > 0 %}
                    {% with a=value b=estimates|get_item:key %}
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width:{{a|div:b|mul:100}}%;" aria-valuemin="0" aria-valuemax="100">{{a|div:b|mul:100|floatformat:2}}</div>
                        </div>
                    {% endwith %}
                {% else %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:{{value|div:total|mul:100}}%;" aria-valuemin="0" aria-valuemax="100">{{value|div:total|mul:100|floatformat:2}}</div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endwith %}
    </ul>

{% endblock %}

{% block filter %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Filter By Week
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'times:week_detail' yearmonth.pk 0%}">1st</a></li>
            <li class="list-group-item"><a href="{% url 'times:week_detail' yearmonth.pk 1%}">2nd</a></li>
            <li class="list-group-item"><a href="{% url 'times:week_detail' yearmonth.pk 2%}">3rd</a></li>
            <li class="list-group-item"><a href="{% url 'times:week_detail' yearmonth.pk 3%}">4th</a></li>
        </ul>
    </div>
{% endblock %}